
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Logs and debug files
*.log
*.pot
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# PyInstaller
*.spec

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Other
*.sqlite3
*.db
