pip-requirements
boto3
pymongo
numpy
certifi
python-dateutil
# Dependências para versão Spark
pyspark
# Conector MongoDB para Spark (versão compatível com Spark 3.x)
org.mongodb.spark:mongo-spark-connector_2.12:3.0.1
